# OS
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.out
vendor/

# Go workspace
go.work
go.work.sum

# Debug
__debug_bin*
